.sx-react-calendar-wrapper {
    width: 100%;
    height: 80vh;
    min-width: 300px;

    background-color: var(--darkGrey);
}

.sx__month-agenda-week {
    height: 90px;
    /* background-color: var(--darkGrey); */
}

.sx__month-grid-wrapper .sx__month-grid-week {
    height: 200px !important;
    /* background-color: var(--darkGrey); */
    /* color: var(--white); */
}