:root {
    --black: #171616;
    --white: #FFF9F9;
    --lightGrey: #7A7A7A;
    --purple: #BD85F6;
    --yellow1: #554C27;
    --red: #9A0909;
    --darkRed: #573838;
    --green: #355D2D;

    --background-black: #222227;
    --grey1: #262626;
    --grey2: #404040;
    --grey3: #333333;
    --grey4: #7A7A7A;
    --darkGrey: #141414;
}